{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="container-fluid">
            <h1 class="mt-4">Клиенты</h1>
        <section>
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
                    <form class="form-inline mb-3" action="#" method="get">
                        <div class="form-group col-8 col-md-10 pl-0">
                            <input name="q" class="form-control w-100" type="text" placeholder="Поиск по названию клиента"
                                   aria-label="">
                        </div>
                        <div class="form-group col-4 col-md-2 pl-0">
                            <button class="btn btn-primary w-200" type="submit">Найти</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
            <div class="card mb-4">
                <div class="card-header">
                    {{ search }}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Юр названия</th>
                                <th>Количесто заказов</th>
                                <th>Дата последнего заказа</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Название</th>
                                <th>Юр названия</th>
                                <th>Количесто заказов</th>
                                <th>Дата последнего заказа</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            {% for customer in objects %}
                                <tr {% if customer.is_deleted %} style="opacity: 0.5;" {% endif %}>
                                    <td><a href="{% url 'customer:customer_info' customer.pk %}"
                                           style="color: dodgerblue">{{ customer.name|upper }}</a></td>
                                    <td>Юр названия</td>
                                    <td><a href="#" style="color: dodgerblue">{{ customer.production.count }}</a></td>
                                    <td>{{ customer.production.first.created_at|date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'customer:customer_create' %}">
                        <button class="btn btn-success">Создать нового клиента</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}