{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Клиенты</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Все клиенты
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Полное название</th>
                            <th>ИНН</th>
                            <th>Количесто заказов</th>
                            <th>Редактировать</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Название</th>
                            <th>Полное название</th>
                            <th>ИНН</th>
                            <th>Количесто заказов</th>
                            <th>Редактировать</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {% for customer in objects %}
                            <tr {% if customer.is_deleted %} style="opacity: 0.5;" {% endif %}>
                                <td><a href="{% url 'customer:customer_info' customer.pk %}" style="color: dodgerblue">{{ customer.name }}</a></td>
                                <td>{{ customer.full_name }}</td>
                                <td>{{ customer.inn }}</td>
                                <td><a href="#" style="color: dodgerblue">{{ customer.production.count }}</a></td>
                                <td>
                                    <a href="#">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <a href="#">
                    <button class="btn btn-success">Создать нового клиента</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}