{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="mt-4">{{ customer.name }} {% if customer.is_deleted %} <b class="text-danger"> - УДАЛЁН</b> {% endif %} </h1>
                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ customer.name }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>ЮР. НАЗВАНИЯ:</b><br>
                                {% for full_name in customer.full_name.all %}
                                {{ full_name }}<br>
                                {% endfor %}
                            </li>
                            <li class="list-group-item"><b>КОНТАКТНАЯ ИНФОРМАЦИЯ:</b><br>{{ customer.contacts_info }}
                            </li>
                            <li class="list-group-item"><b>КОММЕНТАРИЙ:</b><br>{{ customer.comment }}</li>
                            <li class="list-group-item"><b>ИНДИВИДУАЛЬНЫЕ
                                УСЛОВИЯ:</b><br>{{ customer.if_individual_price }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Адреса доставок</a>
                            <a href="#" class="card-link">Юр. названия</a>
                            <a href="#" class="card-link">Штампы</a>
                            <br>
                            {% if not customer.is_deleted %}
                            <a href="{% url 'customer:customer_update' pk=customer.id %}" class="card-link">Редактировать</a>
                            <a href="{% url 'customer:customer_delete' pk=customer.id %}" class="card-link text-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header">Последние 15 штампов</div>
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>Номер штампа</th>
                            <th>Дата заказа</th>
                            <th>Стадия</th>
                        </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        {% for product in customer.production.all|slice:":15" %}
                            <tr {% if product.is_deleted %} style="opacity: 0.5;" {% endif %}>
                                <td><a href="{% url 'product:product_info' product.pk %}"
                                       style="color: dodgerblue">{{ product.our_number }}</a></td>
                                <td>{{ product.created_at }}</td>
                                <td>{{ product.product_stage }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-header"><a href="#" class="card-link">Показать все</a></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}